<div class="row">
	<div class="col-md-4">
		<img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/138.jpg" />
		Senior Success Stories
	</div>
	<div class="col-md-4">
		<img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/139.jpg" />
		Family Success Stories
	</div>
	<div class="col-md-4">
		<img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/140.jpg" />
		Child Success Stories
	</div>
</div>