<footer style="background-color: #ccc"><!-- TODO: Use stylesheet -->
  <div class="container">
    <h4>Footer</h4>

    <div class="row">
      <ul class="col-xs-12 col-md-4">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>

      <ul class="col-xs-12 col-md-4">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>

      <ul class="col-xs-12 col-md-4">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div>
</footer>
